

.chatPageWrapper {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}

body.dark-mode .chatPageWrapper {
  background-color: #1E1E1E;
  color: #F1F1F1;
}

.chatPageContainer {
  flex: 1;
  overflow-y: auto;
}


/* Ocupa tudo entre o header e o input */
.messagesContainer {
    display: flex;
    flex: 1;
    height: auto;
    min-height: 0;
    overflow-y: auto;
}

/* Parte inferior, ocupa 10% da tela */
.chatPageInputContainer {
    margin: 10px;
}

.chatPageInputContainer input {
    width: 100%;
}

.privateChatsSection {
  padding: 1rem;
  background-color: #f9f9f9;
}

.chatPreview {
  cursor: pointer;
  padding: 0.5rem;
  border-bottom: 0.8px solid #dbdbdb;
  /* background-color: green; */
  position: relative;
  display: flex;
  justify-content: space-between;
}

body.dark-mode .chatPreview {
  border-bottom: 0.7px solid #2d2d2d;

}

.notificationIconChatPage {
  /* position: absolute; */
  /* top: -6px; */
  /* right: -6px; */
  width: 10px;
  height: 10px;
  background-color: rgb(249, 12, 40);
  color: white;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 6px;
  min-width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}