

.chatPageWrapper {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  overflow: hidden;
}

.chatPageContainer {
  flex: 1;
  overflow-y: auto;
}


/* Ocupa tudo entre o header e o input */
.messagesContainer {
    display: flex;
    flex: 1;
    height: auto;
    min-height: 0;
    overflow-y: auto;
}

/* Parte inferior, ocupa 10% da tela */
.chatPageInputContainer {
    margin: 10px;
}

.chatPageInputContainer input {
    width: 100%;
}

.privateChatsSection {
  padding: 1rem;
  background-color: #f9f9f9;
}

.chatPreview {
  cursor: pointer;
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
  /* background-color: green; */
  position: relative;
  display: flex;
  justify-content: space-between;
}

.notificationIconChatPage {
  /* position: absolute; */
  /* top: -6px; */
  /* right: -6px; */
  width: 10px;
  height: 10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 6px;
  min-width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.systemMessage {
  text-align: center;
  color: gray;
  font-style: italic;
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 6px 12px;
  margin: 10px 0;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}


.inviteBackBtn {
  display: block;
  padding: 10px;
  background-color: #2a68d8;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
