.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 0px;
    /* background-color: lightblue;   */
    color: black;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    /* height: 60px; */
    max-width: 800px;
    margin: auto;
    align-items: center;
    padding: 10px ;
    height: 9vh;
  }
  body.dark-mode .header {
    background-color: #1A1A1A ; 
    color: rgb(255, 255, 255);
    
  }
  .stickyHeader {
  /* position: sticky; */
  top: 0;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 2px 4px rgba(131, 6, 6, 0.05);
}

body.dark-mode .stickyHeader {
  top: 0;
  z-index: 1000;
  background-color: #1A1A1A; /* opcional, mas escurece no dark */
  box-shadow: none; /* remove o sombreado */
  border-bottom: 0.7px solid rgba(255, 255, 255, 0.1); /* linha fina clara */
}

  
  .left-section {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    flex: 1;
    height: auto;
    /* padding: 10px; */
  }
  
  .right-section {
    display: flex;
    flex: 2;
    justify-content: flex-end;
  }
  
  .back-button {
    background-color: #2A68D8; /* Dark blue for the button */
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    width: auto;
    margin: auto;
    margin-left: 0;
  }
  
  .link {
    text-decoration: none;
  }
  
  .login-button {
    background-color: white; /* Dark blue for login button */
    color: #2A68D8;
    /* border:#2A68D8; */
    padding: 8px 16px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    width: auto;
    margin: auto;
    margin-right: 0;
  }
  
  .logout-button {
    background-color: white; /* Red for logout */
    color: #dc3545;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    width: 30%;
    margin: auto;
    margin-left: 0;
    margin-right: 0px;

  }
  
  .user-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }
  
  .welcome-message {
    margin-right: 20px;
    font-size: 16px;
    color: black; /* White for the welcome message */
  }

  .headerProfileImage {
    height: 45px;
    width: 45px;
    background-size: cover;
    /* border-radius: 50%; */
    border-radius: 50%;
    /* display: none; */
}



.settingsIcon {
  cursor: pointer;
  
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.modal-content button {
  display: block;
  margin: 10px auto;
}

.leaveRoomButton {
  margin: 5px;
  padding: 10px;
  background-color: red;
  width: auto;
}

.privateMessageSettings {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 0, 0);
}

  
  @media screen and (max-width: 500px) {
    .header {
        /* background-color: green; */
        /* padding: 5px; */
    }

    .right-section {
        display: flex;
        align-items: center;
      }
  }

  @media screen and (min-width: 1024px) {
    .headerProfileImage {
      display: none;
    }
  }

  .no-scroll {
  overflow-y: hidden !important;
  height: 100vh !important;
}