.landingListingsContainer {
    flex-grow: 1;
    /* Ocupar o espaço disponível */
    width: 100%;
    /* background-color: #333333; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}


.landingListingContainer {
    width: 100%;
    /* background-color: #9f3939; */
    
    margin: 20px 20px 0 20px; /* top: 20px, right: 20px, bottom: 0, left: 20px */
    padding: 20px;
  
    position: relative;
    /* border-top: 1px solid lightgray; */
    border-bottom: 0.5px solid lightgray;
    
  }
  

@media screen and (max-width: 500px) {
    .landingListingContainer {
        padding: 0;
    }
}

.userInfo {
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    /* background-color: aquamarine; */
  }

.userName {
    margin-left: 10px;
}

.iteractionContainer {
    height: 50px;
    /* background-color: green; */
}

.interactionIcon {
    width: 100px;
    background-color: red;
}

.listing-content {
    color: black;
    text-decoration: none;
    padding-bottom: 0;
}

.adminListingMenu {
    /* background-color: green; */
    position: absolute;
    right: 0;
    width: 50%;
    height: 20%;
    margin-right: 5px;
}

.adminListingMenu ul li {
    list-style: none;
    font-size: large;
    /* padding: 10px; */
}

.adminListingMenu ul li button {}