.listing-page-container {
    max-width: 800px;
    margin: 0px auto;
    /* padding: 20px; */
    /* background-color: #f9f9f9; */
    /* background-color: red; */
    border-radius: 10px;
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
}

.listing-image-container {
    width: 70%;
    margin: auto;
}

@media screen and (max-width: 769px) {
    .listing-page-container{
        margin: 0;
        padding: 0;
        /* background-color: red; */
        padding-bottom: 20%;
    }
}



.listing-header h1 {
    font-size: 20px;
    /* margin-bottom: 20px; */
    text-align: center;
}

.listing-content {
    /* margin: 10px; */
    /* background-color: red; */
    /* padding-bottom: 100px; */
}

.heading {
    padding: 0 10px;
    
}

.listing-content p { 
    font-size: 17px; 
    margin: 10px;
    line-height: 1.6; 
    /* color: white;  */
}




.listing-content h2 { 
    font-size: 18px; 
    margin: 10px;
    line-height: 1.6; 
    /* color: white;  */
}



/* celular até 768px */
@media (max-width: 768px) {
    .listing-content p {
      font-size: 16px;   /* ajusta pra mobile */
      line-height: 1.5;
    }
  }

  @media (max-width: 768px) {
    .listing-content h2 {
      font-size: 18px;   /* ajusta pra mobile */
      line-height: 1.5;
    }
  }
  
  


.blogContent {
    margin-bottom: 1em; /* Add space between paragraphs */
    line-height: 1.5;   /* Optional: Adjust line spacing for readability */
    text-align: justify;
  }
  

.listing-image  {
    max-width: 70%;
    border-radius: 8px;
    margin: auto;
    /* background-color: aqua; */
}

.listing-image img {
    max-width: 90%;
    border-radius: 8px;
}


.listing-image  img.listingImage {
    max-width: 30%;
    border-radius: 8px;
    margin: auto;
    /* background-color: aqua; */
}


.poll-container {
    margin: 20px 10px
    
}

.poll-container h2 {
    font-size: 20px;
}

.poll-container ul {
    list-style: none;
    padding-left: 0;
}

.poll-container li {
    background-color: #e9e9e9;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.listing-link {
    margin: 10px;
}

.listing-link a {
    color: #2A68D8;
    text-decoration: none;
}

.listing-link a:hover {
    text-decoration: underline;
}
