.landingLivesContainer {
    height: 200px; /* Remove o calc desnecessário */
    width: 100%;
    /* background-color: white;  */
    display: flex;
    overflow-x: auto; /* Adiciona rolagem horizontal */
    white-space: nowrap; /* Garante que os itens fiquem em linha e não quebrem para a próxima linha */
    gap: 15px; /* Espaçamento entre os itens */
    padding: 10px 10px;
}


.landingLiveContainer {
    height: 100%;
    aspect-ratio: 1;
    /* background-color: #1E1E1E;  */
    /* color: white;  */
    text-align: center;   
    display: flex;
    flex-direction: column;
    cursor: pointer;
    flex-shrink: 0; /* Evita que os itens encolham */
    width: 150px; /* Define uma largura fixa */
    /* border: 2px solid #333333;  */
    border-radius: 10px; /* Bordas arredondadas para suavizar o visual */
}

.landingLiveNewRoomContainer {
    height: 100%;
    aspect-ratio: 1;
    /* background-color: #1E1E1E;  */
    /* color: white;  */
    text-align: center;   
    display: flex;
    flex-direction: column;
    cursor: pointer;
    flex-shrink: 0; /* Evita que os itens encolham */
    width: 150px; /* Define uma largura fixa */
    /* border: 2px solid #333333;  */
    border-radius: 10px; /* Bordas arredondadas para suavizar o visual */
    border: 1px solid transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Adds shadow effect */
    transition: height 0.3s, box-shadow 0.3s, background-color 0.3s;
}

.landingLiveNewRoomContainer:hover {
    height: 102%;
    transition: .3s;
    /* background-color: #E5F3FD; */
}

.newChatContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newChatICon {
    width: 100%;
    height: 50%;    
}

.modal {
    height: 100vh; /* O modal ocupa toda a altura da viewport */
    width: 100vw;  /* O modal ocupa toda a largura da viewport */
    background-color: rgba(0, 0, 0, 0.609);
    position: absolute; /* Usar fixed para garantir que o modal cubra a tela */
    left: 0;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center; /* Centraliza verticalmente */
    align-items: center;     /* Centraliza horizontalmente */
    position: fixed; /* fara com que a scrolagem nao aconteça quando modal estiver aberto */
}

.closeModalButtonContainer {
 /* background-color: red;  */
 /* width: 20px; */
 display: flex;
 justify-content: right;
 /* position: absolute; */
 /* right: 0; */
 float: right;
 /* margin: 20px; */
 cursor: pointer;
}

body.modal-open {
    overflow: hidden; /* Impede o scroll quando o modal estiver aberto */
}

.nomeDaSala {
    padding: 10px;
}

.newRoomForm {
    max-width: 500px; /* Limita a largura máxima para telas maiores */
    width: 50%;
    aspect-ratio: 0.75; /* Mantém a proporção */
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Adiciona um leve sombreado */
    border-radius: 8px; /* Adiciona bordas arredondadas para um estilo mais moderno */
    padding: 20px; /* Adiciona padding interno */
    margin: auto;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
    display: flex;
    justify-content:space-around;
}

/* .selectedImageContainer img {
    width: 100%;
    height: 100%;
    border-radius: 50%; 
    object-fit: cover; 
} */


.selectedImageContainer {
    width: 50%;
    aspect-ratio: 1;
    /* background-color: black; */
    border-radius: 50%;   
    margin: 0px auto 20px auto; /* Centraliza o contêiner da imagem */
    border: 1px solid grey;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.button {
    background-color: #002D9F; /* Cor do botão */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 15px;
    border-radius: 10px;
}

.button:hover {
    background-color: #0056b3; /* Cor ao passar o mouse */
}


/* 64 */

@media screen and (max-width: 500px) {
    .modal {
        /* background-color: red; */
    }

    .newRoomForm {
    width: 90%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Adiciona um leve sombreado */
}

}